<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulario Materia</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/styles.css"/>
    <style type="text/css">
        /* Estilos adicionales si los necesitas */
    </style>
</head>
<body>

<header th:insert="~{/layouts/header :: header}"></header>
<nav th:insert="~{/layouts/header :: navbar}"></nav>

<div class="container">
    <h1 class="mb-4">Formulario Materia</h1>
    <form th:object="${nuevaMateria}" th:action="@{/guardarMateria}" method="post">
        <div class="form-group">
            <label for="codigo">Código <span class="required"></span></label>
            <input type="text" class="form-control" id="codigo" th:field="*{codigo}" required>
            <p class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></p>
        </div>
        <br>
        <div class="form-group">
            <label for="nombre">Nombre <span class="required"></span></label>
            <input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Nombre" required>
            <p class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
        </div>
        <br>
        <div class="form-group">
            <label for="curso">Curso <span class="required"></span></label>
            <input type="text" class="form-control" id="curso" th:field="*{curso}" placeholder="Curso" required>
            <p class="text-danger" th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}"></p>
        </div>
        <br>
        <div class="form-group">
            <label for="cantidadHoras">Cantidad de Horas <span class="required"></span></label>
            <input type="number" class="form-control" id="cantidadHoras" th:field="*{cantidadHoras}" placeholder="Cantidad de Horas" required>
            <p class="text-danger" th:if="${#fields.hasErrors('cantidadHoras')}" th:errors="*{cantidadHoras}"></p>
        </div>
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="modalidad">Modalidad</label>
            <select class="form-select" id="modalidad" th:field="*{modalidad}" required>
                <option value="Presencial">Presencial</option>
                <option value="Virtual">Virtual</option>
            </select>
        </div>
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="carrera">Carrera</label>
            <select class="form-select" id="carrera" th:field="*{carrera.codigo}" required>
                <option th:each="carrera : ${carreras}" th:value="${carrera.codigo}" th:text="${carrera.nombre}"></option>
            </select>
        </div>
        <br>
        <div class="input-group mb-3">
            <label class="input-group-text" for="docente">Docente</label>
            <select class="form-select" id="docente" th:field="*{docente.legajo}" required>
                <option th:each="docente : ${docentes}" th:value="${docente.legajo}" th:text="${docente.nombre}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <br><br><br>
</div>

<footer th:insert="~{/layouts/footer :: footer}"></footer>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
</body>
</html>



