<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>Formulario Docente</title>
</head>
<body>
    <div class="container">
        <h1>Formulario De Docente</h1>
        <form th:object="${nuevoDocente}"
              th:action="${band} ? @{/modificarDocente} : @{/guardarDocente}"
              method="post">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nombre"
                       th:field="*{nombre}"
                       placeholder="Ingrese El Nombre Del Docente" required> 
                <label for="nombre">Nombre del Docente</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="apellido"
                       th:field="*{apellido}"
                       placeholder="Ingrese El Apellido Del Docente" required> 
                <label for="apellido">Apellido del Docente</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control"
                       placeholder="Ingrese El Legajo Del Docente"
                       th:field="*{legajo}" id="legajo" required
                       th:readonly="${band}"> 
                <label for="legajo">Legajo del Docente</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email"
                       th:field="*{email}"
                       placeholder="Ingrese El Email Del Docente"> 
                <label for="email">Email del Docente</label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" class="form-control"
                       placeholder="Ingrese el Teléfono Del Docente"
                       th:field="*{telefono}" id="telefono" required> 
                <label for="telefono">Teléfono Del Docente</label>
            </div>

            <button type="submit" class="btn btn-primary">Guardar Docente</button>
        </form>
    </div>

    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
